<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="Images/circle-cropped.png" alt="Hritik" class="img-fluid" title="Weather">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Hritik's World</p>
                        <h1>My name is Hritik and I am a <span class="text_clr">Mern Stack Developer </span></h1>
                        <a href="/" target="_thapa"><button class="but">About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    {{>footer}}
</body>

</html>